<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740669957687-ppk7mldta7uck1d50o9689jodji5p43u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740669957687-ppk7mldta7uck1d50o9689jodji5p43u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>740669957687-fpuva2fi7qetihs19svgs0f66iau7spl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOwJgBUj_8vTkatWuaOXO4TYCx5aVzPS4</string>
	<key>GCM_SENDER_ID</key>
	<string>740669957687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uber</string>
	<key>PROJECT_ID</key>
	<string>uberflutter-91440</string>
	<key>STORAGE_BUCKET</key>
	<string>uberflutter-91440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740669957687:ios:de8b5f321bfd9589d0c1b2</string>
	<key>DATABASE_URL</key>
	<string>https://uberflutter-91440.firebaseio.com</string>
</dict>
</plist>